{{page-title "Home"}}
<Navbar @login={{this.login}}></Navbar>
<div class="d-flex justify-content-center gap-5 mt-5">
  {{#each this.itemsData as |item index|}}
    <div class="card-group">
      {{#if (equal index 0)}}
        <input type="radio" name="items" class="radio-items {{index}}" id="{{item.node}}" value="{{item.node}}" checked  onchange={{action "foodItemsType" item.node}}/>
      {{else}}
        <input type="radio" name="items" class="radio-items {{index}}" id="{{item.node}}" value="{{item.node}}" onchange={{action "foodItemsType" item.node}}/>
      {{/if}}
      <button {{action "foodItemsType" item.node}} class="filter-cards shadow">
        <div class="menu-svg text-center rounded-pill">
          {{svg-jar item.node width="30px" height="38px"}}
        </div>
        <p>{{item.name}}</p>
      </button>
    </div>
  {{/each}}
</div>
<div class="food-items">
  {{#each this.foodData as |data|}}
    <div class="food-item">
      <div class="food-image"><img src="png/{{data.image}}" style="object-fit: contain; width: 130px; height: 130px"></div>
      <div class="food-item-details">
        <div class="font-semibold">{{data.name}}</div>
        <div>₹{{data.price}}</div>
      </div>
      <button {{action "AddToCart" data}} class="btn btn-outline-dark align-self-center" type="button">Add</button>
    </div>
  {{else}}
    {{svg-jar "empty-item" height="20rem"}}
  {{/each}}
</div>

